{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    {% if not transactions %}
    <li>None trade</li>
    {% else %}
    <h1>Transactions of {{ user_name }}:</h1>
    <table class="table table-striped">
        <tr class="thead-dark">
            <th scope="col">Stock</th>
            <th scope="col">Ammount</th>
            <th scope="col">Type</th>
            <th scope="col">In-price</th>
            <th scope="col">Time</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction['symbol'] }}</td>
                <td>{{ transaction['ammount'] }}</td>
                <td>{{ transaction['type'] }}</td>
                <td>{{ transaction['currentprice'] | usd }}</td>
                <td>{{ transaction['time'] }}</td>

            </tr>
        {% endfor %}
    </table>
        
    {% endif %}
{% endblock %}
