{% extends "layout.html" %}

{% block title %}
    Your Stocks
{% endblock %}

{% block main %}
    {% if not stocks %}
        <h5>No stocks trade yet</h5>
        <table class="table table-dark">
            <tr>
                <td scope="row"> YOUR TOTAL CURRENT VALUE </td>
                <td> {{ total_value }} </td>
            </tr>
        </table>
    {% else %}
    <h1>Stocks of {{ user_name[0]['username'] }}:</h1>
    <table class="table table-striped">
        <tr class="thead-dark">
            <th scope="col">Stock</th>
            <th scope="col">Ammount</th>
        </tr>
        {% for stock in stocks %}
            {% if not stock['ammount'] %}
                
            {% else %}
                <tr>
                    <td>{{ stock['symbol'] }}</td>
                    <td>{{ stock['ammount'] }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td scope="row">Your Cash</td>
            <td>{{ cash }}</td>
        </tr>

        <tr>
            <td scope="row"> YOUR TOTAL CURRENT VALUE </td>
            <td> {{ total_value }} </td>
        </tr>
    </table>
        
    {% endif %}
{% endblock %}
