{% extends "layout.html" %}

{% block title %}
    Your Stocks
{% endblock %}

{% block main %}
    {% if not stocks %}
    <li>No stocks trade yet</li>
    {% else %}
    <h1>Stocks of {{ user_name[0]['username'] }}:</h1>
    <table align="center">
        <tr>
            <th>Stock</th>
            <th>Ammount</th>
        </tr>
        {% for stock in stocks %}
            {% if not stock['ammount'] %}
                
            {% else %}
                <tr>
                    <td>{{ stock['symbol'] }}</td>
                    <td>{{ stock['ammount'] }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td>Your Cash</td>
            <td>    {{ cash }}      </td>
        </tr>

        <tr>
            <td> YOUR TOTAL CURRENT VALUE </td>
            <td> {{ total_value }} </td>
        </tr>
    </table>
        
    {% endif %}
{% endblock %}
